.bg-img {
    background-image: url('bgimg/level0.jpg');
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-size: cover;
    height: 100%; 
}

#code {
    border: 11px solid;
    color: rgb(67, 230, 135);
    position: fixed;
    width: 850px;
    height: 175px;
    background-color: black;
    
}

#data {
    color: rgb(79, 31, 168);
    border: 11px solid;
    position: fixed;
    width: 400px; 
    height: 628px;
    left: 920px; 
    top: 8px;
    right: 10px;
    
}

#canvas {
    border: 11px solid;
    color: rgb(90, 16, 28);
}

.text {
    color: black;
    font-family: 'Press Start 2P'; 
}

.editor {
    color: violet;
}

